@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap);

* {
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
  margin: 0 auto;
  padding: 0;
}
.container{
  width: 1440.067px;
  margin: 0 auto;
}
header {
  display: flex;
  background: url("./header-image.png") 100% / cover;
  width: 1440.067px;
  height: 889px;
  position: relative;
  clip-path: polygon(0 1%, 100% 0, 99% 88%, 83% 91%, 61% 79%, 49% 95%, 34% 87%, 0 77%);
}
.foodmood {
  color: #fff;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 700;
  margin-left: 80px;
  margin-top: 45px;
}
.col1 {
  display: flex;
  gap: 44px;
  width: 455px;
  height: 21px;
  flex-shrink: 0;
  position: absolute;
  margin-left: 443px;
  top: 48px;
}
.item {
  display: inline;
  margin: 0 auto;
  color: #fff;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 700;
}
.rectangle {
  margin: 0 0 0 54px;
  position: absolute;
  width: 209px;
  height: 48px;
  background: var(--yeallow-brand-color, #fc0);
  flex-shrink: 0;
  left: 1057px;
  top: 35px;
}
.p {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 14px;
  color: var(--white-secondery-color, #fff);
  font-family: Poppins;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 48px;
}
.start {
  width: 806px;
  height: 417px;
  flex-shrink: 0;
}
.only {
  color: #fff;
  font-family: Poppins;
  font-size: 26px;
  font-weight: 700;
  position: absolute;
  left: -990px;
  top: 115px;
}
.pizza {
  color: #fff;
  font-family: Poppins;
  font-size: 64px;
  font-weight: 600;
  position: absolute;
  left: -990px;
  top: 179px;
}
.ellipse {
  width: 205px;
  height: 205px;
  border-radius: 100%;
  flex-shrink: 0;
  background: var(--yeallow-brand-color, #fc0);
  position: absolute;
  left: -990px;
  top: 315px;
}
.number {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white-secondery-color, #fff);
  font-family: Poppins;
  font-size: 63.896px;
  font-weight: 700;
  margin-top: 16px;
}
.discount {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white-secondery-color, #fff);
  font-family: Poppins;
  font-size: 31.948px;
  font-weight: 700;
  position: absolute;
  left: 23px;
  top: 86px;
}
.biginfo {
  width: 324px;
  height: 221px;
  position: absolute;
  left: -757px;
  top: 305px;
}
.info {
  color: #fff;
  font-family: Poppins;
  font-size: 36px;
  font-weight: 600;
}
.rectangle2 {
  width: 209px;
  height: 48px;
  flex-shrink: 0;
  background: var(--yeallow-brand-color, #fc0);
  position: absolute;
  left: -991px;
  top: 610px;
}
.order {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 14px;
  color: var(--white-secondery-color, #fff);
  font-family: Poppins;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 48px;
}
.options {
  width: 424px;
  height: 109px;
  margin: 0 auto; 
  flex-shrink: 0;
}
.top {
  color: var(--yeallow-brand-color, #fc0);
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  position: absolute;
  right: 510px;
  bottom: -254px;
}
.categories {
  color: var(--black-font-color, #231900);
  font-family: Poppins;
  font-size: 55px;
  font-weight: 600; 
  position: absolute;
  right: 355px;
  bottom: -335px;
}
.product-cards{
display: flex;
flex-direction: row;
position: absolute;
margin: 0 auto;
}
.product-name{
display: flex;
align-items: center;
justify-content: center;
}
.product-info{
  display: flex;
  align-items: center;
  justify-content: center;
  }
  
