@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
.container {
  margin: 0 auto;
  width: 1440px;
}
header {
  background: url("./Mask group.png") 100% / cover;
  position: relative;
  width: 1440.067px;
  height: 889px;
}
.categories {
  width: 1440.067px;
  height: 670px;
}
.navbar {
  display: flex;
  align-items: center;
  height: 100px;
}
.logo {
  color: #fff;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 700;
  margin-left: 80px;
}
.nav {
  display: flex;
  gap: 44px;
  width: 455px;
  height: 21px;
  flex-shrink: 0;
  margin-left: 443px;
}
.item {
  display: inline;
  margin: 0 auto;
  color: #fff;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 700;
}
.button {
  width: 209px;
  height: 48px;
  background: var(--yeallow-brand-color, #fc0);
  flex-shrink: 0;
  color: var(--white-secondery-color, #fff);
  font-family: Poppins;
  font-size: 14px;
  font-weight: 700;
  border: none;
  margin-left: 54px;
}
.only {
  color: #fff;
  font-family: Poppins;
  font-size: 26px;
  font-weight: 700;
}
.pizza {
  color: #fff;
  font-family: Poppins;
  font-size: 64px;
  font-weight: 600;
}
.ellipse-group {
  display: flex;
  gap: 29px;
}
.ellipse {
  width: 205px;
  height: 205px;
  border-radius: 100%;
  flex-shrink: 0;
  background: var(--yeallow-brand-color, #fc0);
}
.number {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white-secondery-color, #fff);
  font-family: Poppins;
  font-size: 63.896px;
  font-weight: 700;
}
.discount {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white-secondery-color, #fff);
  font-family: Poppins;
  font-size: 31.948px;
  font-weight: 700;
}
.button-1 {
  width: 209px;
  height: 48px;
  background: var(--yeallow-brand-color, #fc0);
  flex-shrink: 0;
  color: var(--white-secondery-color, #fff);
  font-family: Poppins;
  font-size: 14px;
  font-weight: 700;
  border: none;
  margin-left: px;
}
.start {
  height: 789px;
  padding: 49px 0 196px 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.info {
  width: 324px;
  color: #fff;
  font-family: Poppins;
  font-size: 36px;
  font-weight: 600;
}
.order {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 14px;
  color: var(--white-secondery-color, #fff);
  font-family: Poppins;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 48px;
}
.options {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.top-text {
  color: var(--yeallow-brand-color, #fc0);
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
}
.main-text {
  color: var(--black-font-color, #231900);
  font-family: Poppins;
  font-size: 55px;
  font-weight: 600;
}
.product-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  width: 1440.067px;
  height: 889px;
}
.card {
  width: 277px;
  height: 502px;
  flex-shrink: 0;
  position: relative;
}
.card-img {
  width: 277px;
  height: 502px;
  flex-shrink: 0;
  background: url(<path-to-image>), lightgray 50% / contain no-repeat;
  position: absolute;
}
.product-name {
  position: absolute;
  bottom: 50px;
  text-align: center;
  width: 100%;
}
.product-info {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
}

.yellow-block {
  display: flex;
  justify-content: center;
  background: var(--yeallow-brand-color, #fc0);
}
.yellow-block-card {
  font-family: Poppins;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 43px 0 59px 0;
  width: 380px;
  height: 400px;
  flex-shrink: 0;
}
.picture-two {
  width: 115px;
  height: 115px;
  border-radius: 50%;
}
.first-text {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}
.third-text {
  color: #fff;
  text-align: center;
  font-size: 17px;
  font-weight: 600;
  text-align: center;
}
.place-block {
  width: 1440px;
  height: 820px;
  flex-shrink: 0;
  background: var(--white-semi-white, #f5f5f5);
}
.top-texte {
  margin-top: 76px;
  color: var(--yeallow-brand-color, #fc0);
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
}
.main-texte {
  color: var(--black-font-color, #231900);
  font-family: Poppins;
  font-size: 55px;
  font-weight: 600;
}
.all-place {
  display: flex;
  justify-content: center;
  gap: 29px;
}
.place {
  width: 380px;
  height: 563px;
}
.website {
  height: 800px;
  flex-shrink: 0;
  background: var(--white-secondery-color, #fff);
}
.topy-text {
  margin-top: 108px;
  color: var(--yeallow-brand-color, #fc0);
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
}
.mainy-text {
  color: var(--black-font-color, #231900);
  font-family: Poppins;
  font-size: 55px;
  font-weight: 600;
}
.stock {
  width: 175px;
  height: 5px;
  background: #fc0;
}
.everything {
  margin-top: 16px;
  width: 585px;
  color: var(--black-font-color, #231900);
  font-family: Poppins;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.hendrerit {
  margin-top: 16px;
  width: 585px;
  color: var(--black-font-color, #231900);
  font-family: Poppins;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.money {
  display: flex;
  gap: 192px;
  margin-top: 57px;
}
.website {
  height: 800px;
  padding: 120px;
  position: relative;
}
.food-container {
  width: 277px;
  height: 270px;
}
.title {
  color: var(--black-font-color, #231900);
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.food-text {
  color: var(--black-font-color, #231900);
  font-family: Poppins;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.eaten {
  position: absolute;
  right: 120px;
  top: 108px;
}
.people-block {
  width: 1440.067px;
  height: 880px;
  background: var(--white-secondery-color, #fff);
}
.top-texte {
  margin-top: 76px;
  color: var(--yeallow-brand-color, #fc0);
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
}
.main-texte {
  color: #000;
  font-family: Poppins;
  font-size: 55px;
  font-weight: 600;
}
.yellow-line {
  margin-top: 25px;
  width: 205px;
  height: 5px;
  background: #fc0;
}
.people-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  width: 1440.067px;
  height: 889px;
  margin-top: 76px;
}
.people-img {
  width: 277px;
  height: 350px;
  flex-shrink: 0;
  background: url(<path-to-image>), lightgray 50% / contain no-repeat;
  position: absolute;
}
.device {
  background: url("./Rectangle 4579.png") 100% / cover;
  position: relative;
  height: 734px;
  padding: 201px 0 0 121px;
}
.big-wite-text {
  color: var(--white-secondery-color, #fff);
  font-family: Poppins;
  font-size: 55px;
  font-weight: 700;
}
.small-wite-text {
  margin-top: 32px;
  color: var(--white-secondery-color, #fff);
  font-family: Poppins;
  font-size: 26px;
  font-weight: 600;
  width: 584px;
}
.rectangle2 {
  margin-left: 12px;
}
.main-rectangle {
  padding: 73px 0 0 0;
}
.mobile-img {
  position: absolute;
  right: 120px;
  top: 65px;
}
.names {
  position: relative;
  height: 350px;
  flex-shrink: 0;
}
.widgets {
  padding: 75px;
}
.pic1 {
  margin-left: 100px;
}

.footer {
  height: 586px;
}
.list-0{
  display: flex;
  flex-direction: column;
}
.yellow-food {
  color: var(--Yeallow-Brand-color, #fc0);
  font-family: Poppins;
  font-size: 24px;
  font-weight: 600;
  margin-left: 120px;
  margin-top: 89px;
}

.viva {
  color: var(--black-font-color, #231900);
  font-size: 17px;
  font-weight: 400;
  margin: 50px 940px 336px 120px;
}

.social-icon {
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: row;
  gap: 50px;
  margin: -257px 1200px 257px 120px;
}

.list {
  display: flex;
  flex-direction: row;
  gap: 82px;
  margin: -530px 0 0 530px;
}

.our {
  color: var(--black-font-color, #231900);
  font-size: 24px;
  font-weight: 600;
}

.colon {
  color: var(--black-font-color, #231900);
  font-size: 17px;
  font-weight: 400;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 13px;
  margin: 70px 0 0 -200px;
}

.list-1 {
  display: flex;
  flex-direction: row;
  gap: 82px;
  margin: -220px 0 0 787px;
}

.colon-1 {
  color: var(--black-font-color, #231900);
  font-size: 17px;
  font-weight: 400;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 13px;
  margin: 73px 0 0 -200px;
}

.list-2 {
  display: flex;
  flex-direction: row;
  gap: 82px;
  margin: -215px 0 0 1043px;
}

.colon-2 {
  color: var(--black-font-color, #231900);
  font-size: 17px;
  font-weight: 400;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 13px;
  margin: 73px 0 0 -255px;
}

.copy {
  color: var(--black-font-color, #231900);
  font-size: 18px;
  font-weight: 400;
  margin: 186px 1056px 43px 110px;
}

.powered {
  color: var(--black-font-color, #231900);
  font-size: 18px;
  font-weight: 400;
  margin: -85px 119px 43px 1067px;
}
